* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-bg: #141E33;
    --light-bg: #326191;
    --primary-color: #7EC099;
    --secondary-color: #EF5955;
    --offwhite: #DCD9E1;

    --sm-space: 10px;
    --md-space: 35px;
    --lg-space: 50px;
    --small-space-hz: 0px 10px;
    --small-space-vt: 10px 0px;

    --heading-font: "gloock", serif;
    --body-font: "montserrat", sans-serif;

    --h1-size: 2em;
    --h2-size: 1.5em;
    --nav-size: 1.25em;

    --transition-time: 0.5s;
    --drop-shadow: 5px 10px 7px #888888;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

p, a {
    font-family: var(--body-font);
}


#global-nav {
    background-color: var(--dark-bg);
    padding: 20px 50px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header i {
    color: white;
    justify-self: flex-end;
    padding: var(--small-space-hz);
}

#logo {
    display: block;
    background-image: url("img/egguino-logo.avif");
    background-size: var(--lg-space);
    width: var(--lg-space);
    height: var(--lg-space);
    object-fit: cover;
    transition: var(--transition-time) ease;
}

#logo:hover {
    background-image: url("img/logo-hover.png");
    background-size: var(--lg-space);
    width: var(--lg-space);
    height: var(--lg-space);
    object-fit: cover;
    scale: 1.5;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    text-align: center;
    position: relative;
    padding: var(--small-space-hz);
}

.navlink {
    color: var(--offwhite);
    text-decoration: none;
    padding: var(--sm-space);
    font-family: var(--heading-font);
    font-size: var(--nav-size);
    transition: var(--transition-time);
}

.navlink:hover {
    color: var(--primary-color);
}

.navlink::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4;
    left: 7;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#hero-image {
    object-fit: cover;
    object-position: 10% 80%;
    width: 100%;
}

#featured-items {
    background-color: var(--primary-color);
    padding: var(--lg-space);
}

.product-tile {
    max-width: 21vw;
    margin: 0 auto;
    background-color: white;
    transition: var(--transition-time) ease;
    border-radius: 10px;
}

.product-tile:hover {
    box-shadow: var(--drop-shadow);
}

.product-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-content {
    padding: var(--sm-space);
}