@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-bg: #141E33;
    --light-bg: #7aade1;
    --primary-color: #7EC099;
    --secondary-color: #EF5955;
    --offwhite: #DCD9E1;

    --primary-hover: #437958;

    --sm-space: 10px;
    --md-space: 30px;
    --lg-space: 60px;
    --xl-space: 100px;
    --xxl-space: 150px;

    --small-space-hz: 0px 10px;
    --small-space-vt: 10px 0px;

    --heading-font: "Ribeye", serif;
    --body-font: "montserrat", sans-serif;

    --h1-size: 2.5em;
    --h2-size: 2em;
    --h3-size: 1.3em;
    --h4-size: 1em;
    --body-size: 1em;

    --transition-time: 0.5s;
    --drop-shadow: 5px 10px 7px #888888;
}

@media screen and (max-width: 500px) {
    :root {
        --sm-space: 10px;
        --md-space: 30px;
        --lg-space: 40px;
        --xl-space: 50px;
        --xxl-space: 60px;

        --h1-size: 1.75em;
        --h2-size: 1.5em;
        --h3-size: 1.25em;
        --h4-size: 1em;
        --body-size: 0.9em;
    }
}

.section-space {
    margin-top: var(--md-space);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

p, a, li, strong {
    font-family: var(--body-font);
    font-size: var(--body-size);
}

.btn-primary {
    display: block;
    width: fit-content;
    font-weight: 500;
    padding: var(--sm-space) var(--md-space);
    background-color: var(--primary-color);
    border: none;
    color: black;
    transition: var(--transition-time);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    color: white;
}

.center {
    text-align: center;
}

/*header and global navigation*/

#global-nav {
    background-color: var(--dark-bg);
    padding: 20px 50px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

i {
    color: white;
    justify-self: flex-end;
    padding: var(--small-space-hz);
    transition: var(--transition-time);
}

footer i {
    font-size: 1.5em;
}

a > i:hover {
    color: var(--primary-color);
}

#logo {
    display: block;
    background-image: url("img/egguino-logo.avif");
    background-size: var(--lg-space);
    width: var(--lg-space);
    height: var(--lg-space);
    object-fit: cover;
    transition: var(--transition-time) ease;
}

#logo:hover {
    background-image: url("img/logo-hover.png");
    background-size: var(--lg-space);
    width: var(--lg-space);
    height: var(--lg-space);
    object-fit: cover;
    scale: 1.5;
}

/*header and global nav end*/
#hero-banner-bg {
    background-color: var(--dark-bg);
}

#hero-banner {
    display: flex;
    background-image: linear-gradient(to right, rgba(20,30,51,0.9), rgba(20,30,51,0.3)), url("/img/head-banner.jpg");
    height: 30vw;
    background-size: cover;
    background-position: right;
}

#hero-text {
    text-align: left;
    color: white;
    padding-left: var(--lg-space);
    max-width: 50%;
    justify-self: center;
    align-self: center;
}

#hero-text h1 {
    color: var(--secondary-color);
}

#hero-text p {
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    #hero-banner {
        background-image: linear-gradient(to top, rgba(20,30,51,1), rgba(20,30,51,0.8)), url("/img/head-banner.jpg");
        height: 80vw;
    }

    #hero-text {
        min-width: 100%;
        text-align: center;
        padding: var(--md-space);
        justify-self: center;
        align-self: flex-end;
    }

    #hero-text a {
        margin: 0 auto;
    }
}

/*individual section styling*/
.page-tile-container {
    margin: 0;
    padding: var(--md-space);
}

.page-tile-container .row {
    --bs-gutter-x: 0;
}


#all-products {
    background-color: var(--primary-color);
}

/*product tiles to use across whole site*/

.product-tile {
    margin: var(--sm-space);
    padding: 0;
    background-color: white;
    transition: var(--transition-time) ease;
    border-radius: 10px;
}

.product-tile:hover {
    box-shadow: var(--drop-shadow);
    cursor: pointer;
}

.product-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-content {
    padding: var(--sm-space);
}

.product-tile > a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 500px) {
    .product-tile {
        border: 1px solid var(--offwhite);
    }
}
/*product tile end*/


/*carousel slider*/
#carousel-container {
    padding: var(--lg-space);
}

.carousel-indicators {
    justify-content: left;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--dark-bg);
}

.carousel-item {
    background-color: var(--offwhite);
}

.carousel-img {
    float: left;
    padding-right: var(--md-space);
    height: 500px;
    width: 600px;
    object-fit: cover;
}

.carousel-text {
    max-width: 50%;
    text-align: left;
    padding: var(--xl-space);
}

.carousel-text h3 {
    padding-top: var(--md-space);
}

.carousel-text p {
    padding: var(--md-space) var(--xxl-space);
}

.carousel-text a {
    display: inline;
    margin-top: var(--lg-space);
}

@media screen and (max-width: 900px) {
    .carousel-inner {
        flex-direction: row;
    }
}

@media screen and (max-width: 500px) {
    #carousel-container {
        padding: 0;
        margin-top: var(--lg-space);
    }

    .carousel-indicators {
        justify-content: center;
        margin-bottom: 0;
    }

    .carousel-inner {
        flex-direction: row;
        width: 100%;
    }

    .carousel-img {
        height: 300px;
        width: 100%;
        padding: 0;
        float: none;
    }

    .carousel-text {
        width: 100%;
        padding: var(--sm-space);
    }

    .carousel-text h3 {
        padding: var(--sm-space);
    }

    .carousel-text p {
        padding: var(--sm-space);
    }

    .carousel-text a {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

/*carousel end*/


/*individual product page styling*/
#product-page-details {
    margin-top: var(--lg-space);
}

#product-page-details img {
    border-radius: 3%;
    width: 90%;
}

#product-page-details h3 {
    margin-top: var(--md-space);
}

#product-page-details a {
    margin: var(--md-space) 0;
}

table {
    margin: var(--md-space) 0;
}

@media screen and (max-width: 500px) {
    #product-page-details {
        margin: 0;
    }

    #product-page-details img {
        width: 100%;
        border-radius: 0;
    }
}


/*checkout form*/
#checkout-heading {
    padding: var(--md-space);
    border-bottom: 2px solid var(--offwhite);
    margin-bottom: 0;
    text-align: center;
}

#checkout-page {
    display: grid;
    grid-template-columns: 55% 45%;
}

#form-bg {
    background-color: white;
    padding-right: var(--xxl-space);
}

form label, .form-text {
    font-size: var(--body-font);
    font-family: var(--body-font);
}

#aside-bg {
    background-color: var(--offwhite);
    padding: 0 var(--xl-space);
}

#aside-bg h4 {
    font-family: var(--body-font);
    text-align: center;
    font-weight: 800;
}

#checkout-page h2 {
    margin-top: var(--lg-space);
}

.form-grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: var(--sm-space);
}

.form-grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: var(--sm-space);
}

.form-inline {
    display: inline-block;
}

@media screen and (max-width: 900px) {
    #checkout-page {
        display: flex;
        flex-direction: column-reverse;
    }

    #form-bg {
        padding: var(--sm-space);
    }

    #aside-bg {
        padding: var(--lg-space);
    }

    form label, .form-text {
        font-size: 0.8em;
    }
}

/*checkout end*/

/*footer info*/
footer {
    background-color: var(--dark-bg);
    color: white;
    padding: var(--md-space);
}

footer p {
    font-size: 0.9em;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 800;
}

footer a:hover {
    text-decoration: underline;
}